.jumbotron {
  padding-top: 5rem;
  background-color: #a5ebb1;
}

#projects {
  background-color: #a5ebb1;
}

section {
 padding-top: 4rem;   
}

.gallery-img {
  width: 100%;
}

#gallery row > * {
  padding: 0;
}